html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


header {
	background-image: url(assets/image-main.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 700px;
}

footer{
	height: 400px;
	background-color: #F6F8FA;
}

nav {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}


ul li a{
	text-decoration: none;
	line-height: 2; 
	color: #333333;
}

img {
	width: 100%;
	display: block;
}


h3 {
	margin: 0;
}
h2 {
	margin: 0;
}

.title {
	float: left;
}

.logo{
	font-family: Raleway;
	font-size: 38px;
	font-weight: 700;
	color: #005769;

}

.headerLinks{
	display: inline-block;
	float: right;
	padding-left: 50px;
}

.buttonStyle{
	display: block;
	width: 150px;
	height: 40px;
	background-color: #16D6D1;
	text-decoration: none;
	text-align: center;
	border-radius: 8%;
	
}


.navWrapper {
	padding: 50px 100px;
}

.links {
	font-family: Raleway;
	font-size: 19px;
	font-weight: 700;
	color: #333333
}
.wrapper {
	margin: 100px;
}

.boxLeft {
	float: left;
}

.boxRight {
	float: right;
}

.image1{
	width: 32%;
}

.box2{
	width: 64%;
}

.boxContent h3{
	font-family: Raleway;
	font-size: 22px;
	font-weight: 700;
	color: #777777;
	text-transform: uppercase;
	text-align: center;
	padding-top: 25px;

}


.boxContent1 {
	background: #F6F8FA;
	height: 291px;
	/*height: calc(420.56px - 200.67px);*/
}

.boxContent h2{
	font-family: Raleway;
	font-size: 39px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	padding-top: 15px;
}

.boxContent a{
	display: block;
	width: 150px;
	height: 40px;
	background-color: #16D6D1;
	text-decoration: none; 
	color: black;
	font-family: Raleway;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 700;
	text-align: center;
	border-radius: 5%;
	line-height: 2;
	margin: 15px auto;

}
.box3 {
	width: 64%;
}

.box4 {
	width: 32%;
}

.section {
	margin-top: 30px;
}

.boxContent2 {
	background: #F6F8FA;
	height: 291px;
}

.box5 {
	width: 48%;
}

.footerWrapper{
	padding: 50px 100px;
	position: relative;
}


.links {
	text-decoration: none;
	list-style-type: none;
}

.footerContent {
	float: right;
	width: 33.33%;
}

.list2 {
	float: right;
	padding-right: 100px;
}

.list1{
	float: right;
	padding-right: 100px;
}

.footerPara {
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	color: #777777;
	line-height: 1.5;
}

.hackerYouFooter {
	font-family: Raleway;
	font-size: 20px;
	font-weight: 500;
	color: #777777;
	clear: both;
	position: absolute;
	bottom: -100px;
	border-top: 1px solid lightgrey;
	width: 83%;
}

.hackerYouFooter p{
	padding-top: 10px;
}